<%- include("header") -%>

<h2>this is our about page </h2>

<p>hvsddhjsjhdsbjdhjvdhvvd fi bjd df jkdfh  j d  jd  d jdh ddd ncvsdibuebbfiugfcgref e egfchv cr   vff emmd   f hjbjhdfhjdjhk be   d bkhjbkhjdbdvhdbv</p>

<%-  include("footer") -%>
